.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

main {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto ;
 padding: 10px;

}


.list {
  list-style-type: none;
  border:1px solid black;
  padding: 30px;
}

.grid{
 
  display: flex;
  justify-content: space-between;
  border: 2px solid gainsboro;
  color: blanchedalmond;
}
.Country {
  background-color: dimgrey;
}
section{
  width: 50%;
}
